html  {
    background-color: #B3E5FC;
    font-family: 'Lato', sans-serif;
}

.links {
    box-sizing: border-box;
    height: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;

}

.site {
    margin-right: 10px;
    margin-left: 5px;
    color: #212121;

}

.logo {
    height: 16px;
    width: auto;
    color: white;
}

.body {
    color: #212121;
    width: 100%;
    background-color: #B3E5FC;
}

.main, .side {
    float: left;
    width: 48%;
    margin-top: 20px;
}

.main {
    text-align: center;
}

.side {
    margin-right: 10px; 
}

h2 {
    margin-top: 0px;
    margin-bottom: 1px;
}

.message {
    font-size: 15px;
}

.chess {
    width: 480px;
    height: 480px;
    margin: auto;
    border: 10px solid #333;
    /* color: #FFFF00;  
    opacity: .5; */
}

.black {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #bdbdbd;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    /* background:linear-gradient( yellow 90%); 
    background-blend-mode: overlay; */ 
}

.white {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.reset {
    border-radius: 15%;
    color: #212121;
    background-color: #FFFFFF;
}